# project
/.gradle
/.vscode

# build
/bin
/build
/core/bin/
/core/build/
/annotation/bin/
/annotation/build/
/tool/bin/
/tool/build/
/launcher/bin/
/launcher/build/
/desktop/bin/
/desktop/build/
/android/bin/
/android/build/


# git
/.git

# sprites
/spriteProjects
/core/assets/fcSprite

# android
/androidProjects

# design
/design