# project
/.gradle
/.vscode

# build
/bin
/build
/core/build/
/annotation/build/
/tool/build/
/launcher/build


# git
/.git

# sprites
/spriteProjects
/assets/fcSprite

# android
/androidProjects

# design
/design